	input{
	font-family: 'Wire One', sans-serif;
	font-size: 30px;
	
	padding: 20px;
	width:300px;
	
}
form{
	display: block;
	margin:  auto;
	
}
#enter{
	font-family: 'Wire One', sans-serif;
	background-color:rgba(156,251,204,0.9);
	width:50%;
}
